<!-- The Footer -->

<footer>
  <div class="container px-lg-4">
    <div class="d-flex justify-content-center align-items-center text-muted mx-md-3">
      <p>
        {%- capture _platform -%}
          <a href="https://github.com/9xN" target="_blank" rel="noopener">My Github</a>
        {%- endcapture -%}

        {%- capture _theme -%}
          <a href="https://github.com/9xN/9xN.github.io" target="_blank" rel="noopener">Site Source Code</a>
        {%- endcapture -%}

        {{ site.data.locales[include.lang].meta | replace: ':PLATFORM', _platform | replace: ':THEME', _theme }}
      </p>

      <p>
        {{- '©' }}
        {{ 'now' | date: '%Y' }}
        <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>.
        {% if site.data.locales[include.lang].copyright.brief %}
          <span
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="{{ site.data.locales[include.lang].copyright.verbose }}"
          >
            {{- site.data.locales[include.lang].copyright.brief -}}
          </span>
        {% endif %}
      </p>
    </div>
  </div>
</footer>
