<!-- Switch the mode between dark and light. -->
<script type="text/javascript">
  class ModeToggle {
    static get MODE_KEY() {
      return 'mode';
    }
    static get MODE_ATTR() {
      return 'data-mode';
    }
    static get DARK_MODE() {
      return 'dark';
    }
    static get LIGHT_MODE() {
      return 'light';
    }
    static get ID() {
      return 'mode-toggle';
    }

    constructor() {
      if (this.hasMode) {
        if (this.isLightMode) {
          if (!this.isSysLightPrefer) {
            this.setLight();
          }
        } else {
          if (this.isSysLightPrefer) {
            this.setDark();
          }
        }
      } else {
        if (!this.isSysLightPrefer) {
          this.setLight();
        }
      }

      let self = this;

      /* always follow the system prefers */
      this.sysLightPrefers.addEventListener('change', () => {
        if (self.hasMode) {
          if (self.isLightMode) {
            if (!self.isSysLightPrefer) {
              self.setLight();
            }
          } else {
            if (self.isSysLightPrefer) {
              self.setDark();
            }
          }

          self.clearMode();
        }

        self.notify();
      });
    } /* constructor() */

    get sysLightPrefers() {
      return window.matchMedia('(prefers-color-scheme: light)');
    }

    get isSysLightPrefer() {
      return this.sysLightPrefers.matches;
    }

    get isDarkMode() {
      return this.mode === ModeToggle.DARK_MODE;
    }

    get isLightMode() {
      return this.mode === ModeToggle.LIGHT_MODE;
    }

    get hasMode() {
      return this.mode != null;
    }

    get mode() {
      return sessionStorage.getItem(ModeToggle.MODE_KEY);
    }

    /* get the current mode on screen */
    get modeStatus() {
      if (this.isLightMode || (!this.hasMode && this.isSysLightPrefer)) {
        return ModeToggle.LIGHT_MODE;
      } else {
        return ModeToggle.DARK_MODE;
      }
    }

    setDark() {
      document.documentElement.setAttribute(ModeToggle.MODE_ATTR, ModeToggle.DARK_MODE);
      sessionStorage.setItem(ModeToggle.MODE_KEY, ModeToggle.DARK_MODE);
    }

    setLight() {
      document.documentElement.setAttribute(ModeToggle.MODE_ATTR, ModeToggle.LIGHT_MODE);
      sessionStorage.setItem(ModeToggle.MODE_KEY, ModeToggle.LIGHT_MODE);
    }

    clearMode() {
      document.documentElement.removeAttribute(ModeToggle.MODE_ATTR);
      sessionStorage.removeItem(ModeToggle.MODE_KEY);
    }

    /* Notify other plugins that the theme mode has changed */
    notify() {
      window.postMessage(
        {
          direction: ModeToggle.ID,
          message: this.modeStatus
        },
        '*'
      );
    }

    flipMode() {
      if (this.hasMode) {
        if (this.isSysLightPrefer) {
          if (this.isDarkMode) {
            this.clearMode();
          } else {
            this.setDark();
          }
        } else {
          if (this.isLightMode) {
            this.clearMode();
          } else {
            this.setLight();
          }
        }
      } else {
        if (this.isSysLightPrefer) {
          this.setDark();
        } else {
          this.setLight();
        }
      }

      this.notify();
    } /* flipMode() */
  } /* ModeToggle */

  const modeToggle = new ModeToggle();
</script>